<div>
    <h2 id="page-heading">
        <span jhiTranslate="migriApp.questionario.home.title">Questionarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questionario" [routerLink]="['/questionario/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="migriApp.questionario.home.createLabel">
            Create a new Questionario
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questionarios?.length === 0">
        <span jhiTranslate="migriApp.questionario.home.notFound">No questionarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questionarios && questionarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identificacao"><span jhiTranslate="migriApp.questionario.identificacao">Identificacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataRealizacao"><span jhiTranslate="migriApp.questionario.dataRealizacao">Data Realizacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lotacao.id"><span jhiTranslate="migriApp.questionario.lotacao">Lotacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pessoa.id"><span jhiTranslate="migriApp.questionario.pessoa">Pessoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let questionario of questionarios ;trackBy: trackId">
                    <td><a [routerLink]="['/questionario', questionario.id, 'view']">{{ questionario.id }}</a></td>
                    <td>{{ questionario.identificacao }}</td>
                    <td>{{ questionario.dataRealizacao | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="questionario.lotacao">
                            <a [routerLink]="['/lotacao', questionario.lotacao?.id, 'view']" >{{ questionario.lotacao?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="questionario.pessoa">
                            <a [routerLink]="['/pessoa', questionario.pessoa?.id, 'view']" >{{ questionario.pessoa?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/questionario', questionario.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/questionario', questionario.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(questionario)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="questionarios && questionarios.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
