<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fator-heading" jhiTranslate="migriApp.fator.home.createOrEditLabel">Create or edit a Fator</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="migriApp.fator.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="migriApp.fator.pontuacao" for="field_pontuacao">Pontuacao</label>
                    <input type="number" class="form-control" name="pontuacao" id="field_pontuacao"
                           formControlName="pontuacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="migriApp.fator.questionario" for="field_questionario">Questionario</label>
                    <select class="form-control" id="field_questionario" name="questionario" formControlName="questionario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionarioOption.id === editForm.get('questionario')!.value?.id ? editForm.get('questionario')!.value : questionarioOption" *ngFor="let questionarioOption of questionarios; trackBy: trackById">{{ questionarioOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
