<div>
    <h2 id="page-heading">
        <span jhiTranslate="migriApp.lotacao.home.title">Lotacaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lotacao" [routerLink]="['/lotacao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="migriApp.lotacao.home.createLabel">
            Create a new Lotacao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lotacaos?.length === 0">
        <span jhiTranslate="migriApp.lotacao.home.notFound">No lotacaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lotacaos && lotacaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="migriApp.lotacao.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="migriApp.lotacao.sigla">Sigla</span></th>
                    <th scope="col" ><span jhiTranslate="migriApp.lotacao.latitude">Latitude</span></th>
                    <th scope="col" ><span jhiTranslate="migriApp.lotacao.longitude">Longitude</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lotacao of lotacaos ;trackBy: trackId">
                    <td><a [routerLink]="['/lotacao', lotacao.id, 'view']">{{ lotacao.id }}</a></td>
                    <td>{{ lotacao.nome }}</td>
                    <td>{{ lotacao.sigla }}</td>
                    <td>{{ lotacao.latitude }}</td>
                    <td>{{ lotacao.longitude }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lotacao', lotacao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/lotacao', lotacao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lotacao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
